.header
{
  display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: rgba(29, 29, 91, 0.909);
    color: white;
        font-weight: bold;
}

.links
{
    justify-content: end;
    color: white;
    text-decoration: None;
    font-weight: bold;
    }

.links:hover
{
    color: yellow;
    
}